{% extends 'layout/base-front-layout.html.twig' %}

{% block title %}Форма обратной связи{% endblock %}

{% block body %}
    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container mt-5">
        <h1>Форма обратной связи</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Отправить') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
